*{
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #fff
}

aside,
footer,
header,
main,
section {
	display: block;
	margin: 0;
	padding: 1.25rem;
	color: #fff
}