.blog {
	background: #f9f9f9;
	color: #313131;
	flex-wrap: wrap;
	flex-direction: row;
}

.blog-item {
    flex: 1 1 23%;
}

@media screen and (min-width:640px) {
	.blog {
		display: flex
	}
}

.blog-test {
	flex: 1;
}